body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 12px; }

header .animate__animated {
  -webkit-animation-duration: .3s;
  animation-duration: 0.3s; }

@-webkit-keyframes fadeInDown {
  from {
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0); } }
@keyframes fadeInDown {
  from {
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0); } }
@-webkit-keyframes fadeInUp {
  from {
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0); } }
@keyframes fadeInUp {
  from {
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0); } }
@-webkit-keyframes fadeOutUp {
  to {
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0); } }
@keyframes fadeOutUp {
  to {
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0); } }
@-webkit-keyframes fadeOutDown {
  to {
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0); } }
@keyframes fadeOutDown {
  to {
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0); } }
.carousel {
  overflow: hidden; }

.carousel-control-next, .carousel-control-prev {
  width: 5%; }

.carousel-control-next {
  right: -12px; }

.carousel-control-prev {
  left: -12px; }

.img-fluid {
  width: 100% !important; }

#img-1 {
  background: linear-gradient(#bbbdc0, #f6f6f6, #f6f6f6); }

.vehical__product:hover #img-1 {
  background: linear-gradient(#3c4c5c, #f6f6f6, #f6f6f6); }

.delay-1 {
  animation-delay: 0.15s; }

#img-2 {
  background: linear-gradient(#bbbdc0, #f6f6f6, #f6f6f6); }

.vehical__product:hover #img-2 {
  background: linear-gradient(#5e5e5e, #f6f6f6, #f6f6f6); }

.delay-2 {
  animation-delay: 0.3s; }

#img-3 {
  background: linear-gradient(#bbbdc0, #f6f6f6, #f6f6f6); }

.vehical__product:hover #img-3 {
  background: linear-gradient(#14409a, #f6f6f6, #f6f6f6); }

.delay-3 {
  animation-delay: 0.45s; }

#img-4 {
  background: linear-gradient(#bbbdc0, #f6f6f6, #f6f6f6); }

.vehical__product:hover #img-4 {
  background: linear-gradient(#c0bab5, #f6f6f6, #f6f6f6); }

.delay-4 {
  animation-delay: 0.6s; }

#img-5 {
  background: linear-gradient(#bbbdc0, #f6f6f6, #f6f6f6); }

.vehical__product:hover #img-5 {
  background: linear-gradient(#929292, #f6f6f6, #f6f6f6); }

.delay-5 {
  animation-delay: 0.75s; }

#img-6 {
  background: linear-gradient(#bbbdc0, #f6f6f6, #f6f6f6); }

.vehical__product:hover #img-6 {
  background: linear-gradient(#33569c, #f6f6f6, #f6f6f6); }

.delay-6 {
  animation-delay: 0.9s; }

.swiper__slider .slide-1 {
  /* background-image: url(../../img/banner-1.jpg); */
  background-image: url('../img/banner-1.jpg');
  background-size: cover;
  background-position: center; }
  @media screen and (max-width: 768px) {
    .swiper__slider .slide-1 {
      background-image: url("../img/banner-1-xs.jpg"); } }

.swiper__slider .slide-2 {
  background-image: url("../img/banner-2.jpg");
  background-size: cover;
  background-position: center; }
  @media screen and (max-width: 768px) {
    .swiper__slider .slide-2 {
      background-image: url("../img/banner-2-xs.jpg"); } }

.swiper__slider .slide-3 {
  background-image: url("../img/banner-3.jpg");
  background-size: cover;
  background-position: center; }
  @media screen and (max-width: 768px) {
    .swiper__slider .slide-3 {
      background-image: url("../img/banner-3-xs.jpg"); } }

.swiper__slider .slide-4 {
  background-image: url("../img/banner-4.jpg");
  background-size: cover;
  background-position: center; }
  @media screen and (max-width: 768px) {
    .swiper__slider .slide-4 {
      background-image: url("../img/banner-4-xs.jpg"); } }

.carousel-inner .item__1 {
  background-image: url("../img/slider-1.jpg");
  background-size: cover;
  background-position: center; }
  @media screen and (max-width: 768px) {
    .carousel-inner .item__1 {
      background-image: url("../img/slider-1-xs.jpg"); } }
  @media screen and (max-width: 576px) {
    .carousel-inner .item__1 {
      background-image: url("../img/slider-1-xs.jpg"); } }

.carousel-inner .item__2 {
  background-image: url("../img/slider-2.jpg");
  background-size: cover;
  background-position: center; }
  @media screen and (max-width: 768px) {
    .carousel-inner .item__2 {
      background-image: url("../img/slider-2-xs.jpg"); } }
  @media screen and (max-width: 576px) {
    .carousel-inner .item__2 {
      background-image: url("../img/slider-2-xs.jpg"); } }

.carousel-inner .item__3 {
  background-image: url("../img/slider-3.jpg");
  background-size: cover;
  background-position: center; }
  @media screen and (max-width: 768px) {
    .carousel-inner .item__3 {
      background-image: url("../img/slider-3-xs.jpg"); } }
  @media screen and (max-width: 576px) {
    .carousel-inner .item__3 {
      background-image: url("../img/slider-3-xs.jpg"); } }

.carousel-inner .item__4 {
  background-image: url("../img/slider-4.jpg");
  background-size: cover;
  background-position: center; }
  @media screen and (max-width: 768px) {
    .carousel-inner .item__4 {
      background-image: url("../img/slider-4-xs.jpg"); } }
  @media screen and (max-width: 576px) {
    .carousel-inner .item__4 {
      background-image: url("../img/slider-4-xs.jpg"); } }

.carousel-inner .item__5 {
  background-image: url("../img/slider-5.jpg");
  background-size: cover;
  background-position: center; }
  @media screen and (max-width: 768px) {
    .carousel-inner .item__5 {
      background-image: url("../img/slider-5-xs.jpg"); } }
  @media screen and (max-width: 576px) {
    .carousel-inner .item__5 {
      background-image: url("../img/slider-5-xs.jpg"); } }

.function__1 {
  background-image: url("../img/item-1.jpg");
  background-size: 120%;
  background-position: center 0;
  background-repeat: no-repeat;
  background-color: #fff; }
  @media screen and (min-width: 440px) and (max-width: 576px) {
    .function__1 {
      background-size: 100%; } }
  @media screen and (min-width: 769px) and (max-width: 992px) {
    .function__1 {
      background-size: 150%; } }

.function__2 {
  background-image: url("../img/item-2.jpg");
  background-size: 120%;
  background-position: center 0;
  background-repeat: no-repeat;
  background-color: #fff; }
  @media screen and (min-width: 440px) and (max-width: 576px) {
    .function__2 {
      background-size: 100%; } }
  @media screen and (min-width: 769px) and (max-width: 992px) {
    .function__2 {
      background-size: 150%; } }

.function__3 {
  background-image: url("../img/item-3.jpg");
  background-size: 120%;
  background-position: center 0;
  background-repeat: no-repeat;
  background-color: #fff; }
  @media screen and (min-width: 440px) and (max-width: 576px) {
    .function__3 {
      background-size: 100%; } }
  @media screen and (min-width: 769px) and (max-width: 992px) {
    .function__3 {
      background-size: 150%; } }

.function__4 {
  background-image: url("../img/item-4.jpg");
  background-size: 120%;
  background-position: center 0;
  background-repeat: no-repeat;
  background-color: #fff; }
  @media screen and (min-width: 440px) and (max-width: 576px) {
    .function__4 {
      background-size: 100%; } }
  @media screen and (min-width: 769px) and (max-width: 992px) {
    .function__4 {
      background-size: 150%; } }

.discover-item-1 {
  background-image: url("../img/discover-1.jpg");
  background-size: 120%;
  background-position: center 0;
  background-repeat: no-repeat;
  background-color: #fff; }

.discover-item-2 {
  background-image: url("../img/discover-2.jpg");
  background-size: 120%;
  background-position: center 0;
  background-repeat: no-repeat;
  background-color: #fff; }

.discover-item-3 {
  background-image: url("../img/discover-3.jpg");
  background-size: 120%;
  background-position: center 0;
  background-repeat: no-repeat;
  background-color: #fff; }

.discover-item-4 {
  background-image: url("../img/discover-4.jpg");
  background-size: 120%;
  background-position: center 0;
  background-repeat: no-repeat;
  background-color: #fff; }

.discover-item-5 {
  background-image: url("../img/discover-5.jpg");
  background-size: 120%;
  background-position: center 0;
  background-repeat: no-repeat;
  background-color: #fff; }

.btn__vehicle {
  border: 2px solid #007cc3;
  border-radius: 40px;
  background-color: #2198dc;
  color: #fff;
  font-weight: bold;
  padding: 6px 50px;
  font-size: 1.4rem;
  cursor: pointer;
  margin-right: 5px; }
  .btn__vehicle:hover {
    background-color: #fff;
    color: #00446a; }

.btn__vehicle__active {
  border: 2px solid #007cc3;
  border-radius: 40px;
  background-color: #fff;
  color: #007cc3;
  font-weight: bold;
  padding: 6px 50px;
  font-size: 1.4rem;
  cursor: pointer; }
  .btn__vehicle__active:hover {
    background-color: #2198dc;
    color: #fff; }

.btn__search {
  border: 2px solid #007cc3;
  border-radius: 40px;
  background-color: transparent;
  color: #007cc3;
  font-weight: bold;
  padding: 6px 50px;
  font-size: 1.4rem;
  cursor: pointer;
  margin-top: -20px; }
  .btn__search:hover {
    background-color: #2198dc;
    color: #fff; }
  @media screen and (max-width: 576px) {
    .btn__search {
      border: 2px solid #fff;
      border-radius: 40px;
      background-color: transparent;
      color: #fff;
      font-weight: bold;
      padding: 0 15px;
      font-size: 1.4rem;
      cursor: pointer;
      margin-top: 0;
      border-radius: 5px; }
      .btn__search:hover {
        background-color: #fff;
        color: #2198dc; } }
  @media screen and (max-width: 768px) {
    .btn__search {
      border: 2px solid #fff;
      border-radius: 40px;
      background-color: transparent;
      color: #fff;
      font-weight: bold;
      padding: 0 15px;
      font-size: 1.4rem;
      cursor: pointer;
      margin-top: 0;
      border-radius: 5px; }
      .btn__search:hover {
        background-color: #fff;
        color: #2198dc; } }

.btn__carousel {
  border: 2px solid #ff4040;
  border-radius: 40px;
  background-color: #ff4040;
  color: #fff;
  font-weight: bold;
  padding: 6px 15px;
  font-size: 1.4rem;
  cursor: pointer; }
  .btn__carousel:hover {
    background-color: #fff;
    color: #ff4040; }

.btn__go {
  border: 2px solid #2198dc;
  border-radius: 40px;
  background-color: #2198dc;
  color: #fff;
  font-weight: bold;
  padding: 6px 15px;
  font-size: 1.4rem;
  cursor: pointer; }
  .btn__go:hover {
    background-color: transparent;
    color: #007cc3; }

.btn__go__orange {
  border: 2px solid #ff4040;
  border-radius: 40px;
  background-color: #ff4040;
  color: #fff;
  font-weight: bold;
  padding: 6px 15px;
  font-size: 1.4rem;
  cursor: pointer; }
  .btn__go__orange:hover {
    background-color: #fff;
    color: #ff4040; }

.btn__build {
  border: 2px solid #fff;
  border-radius: 40px;
  background-color: transparent;
  color: #fff;
  font-weight: bold;
  padding: 6px 15px;
  font-size: 1.4rem;
  cursor: pointer; }
  .btn__build:hover {
    background-color: #fff;
    color: #007cc3; }

.btn__caption {
  padding: 6px 30px; }
  @media screen and (max-width: 576px) {
    .btn__caption {
      font-size: 1.4rem -0.2;
      padding: 6px 20px; } }

.btn__search__footer {
  border: 2px solid #007cc3;
  border-radius: 40px;
  background-color: transparent;
  color: #007cc3;
  font-weight: bold;
  padding: 6px 20px;
  font-size: 1.4rem;
  cursor: pointer;
  margin-top: -20px; }
  .btn__search__footer:hover {
    background-color: #2198dc;
    color: #fff; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; }
  header #myNavbar {
    background-color: #007cc3;
    padding: 0; }
    header #myNavbar a:first-child {
      padding: 0 25px; }
    header #myNavbar a:hover {
      text-decoration: none; }
    header #myNavbar #navbar-menu i {
      margin-right: 5px; }
    header #myNavbar #navbar-menu .discover__menu {
      left: unset;
      right: -30%;
      top: 42px;
      width: 40rem;
      padding: 25px;
      box-shadow: 1px 20px 70px -10px rgba(59, 59, 59, 0.63);
      border: none; }
      header #myNavbar #navbar-menu .discover__menu::before {
        content: "";
        border-bottom: 15px solid white;
        border-right: 15px solid transparent;
        border-left: 15px solid transparent;
        position: absolute;
        top: -15px;
        left: unset;
        right: 15%; }
      header #myNavbar #navbar-menu .discover__menu .dropdown-item:hover {
        background-color: transparent; }
      header #myNavbar #navbar-menu .discover__menu .dropdown__menu__detail {
        display: flex; }
        header #myNavbar #navbar-menu .discover__menu .dropdown__menu__detail h3 {
          margin-bottom: 30px;
          color: #00324F;
          font-weight: bold; }
        header #myNavbar #navbar-menu .discover__menu .dropdown__menu__detail div {
          width: 50%; }
        header #myNavbar #navbar-menu .discover__menu .dropdown__menu__detail ul {
          list-style: none;
          margin: 0;
          padding: 0; }
          header #myNavbar #navbar-menu .discover__menu .dropdown__menu__detail ul li {
            margin-bottom: 15px; }
            header #myNavbar #navbar-menu .discover__menu .dropdown__menu__detail ul li a {
              color: #2198dc;
              border: none;
              padding: 0;
              font-weight: bold;
              font-size: 1.4rem; }
        header #myNavbar #navbar-menu .discover__menu .dropdown__menu__detail .dropdown__detail__right {
          padding-left: 20px; }
      header #myNavbar #navbar-menu .discover__menu .dropdown__menu__social {
        display: flex;
        justify-content: space-around;
        margin-top: 30px; }
        header #myNavbar #navbar-menu .discover__menu .dropdown__menu__social a {
          padding: 0;
          border: none; }
          header #myNavbar #navbar-menu .discover__menu .dropdown__menu__social a i {
            width: 30px;
            height: 30px;
            background-color: #007cc3;
            border-radius: 50%;
            line-height: 30px;
            color: #fff;
            font-size: 1.4rem;
            text-align: center; }
  header #vehicle__link:hover {
    color: #007cc3;
    background-color: #fff; }
  header #tools__link:hover {
    color: #007cc3;
    background-color: #fff; }
  header a {
    color: #fff;
    font-size: 17px;
    padding: 20px 25px;
    border-right: 1px solid #4f91ca;
    border-left: 1px solid #4f91ca; }

.no-border {
  border: 0 !important; }

.vehicle {
  background-color: rgba(0, 67, 108, 0.8); }
  .vehicle .container__config {
    padding: 0 10%; }
  .vehicle .vehicle__content {
    position: relative; }
    .vehicle .vehicle__content .vehicle__nav {
      background-color: #fff;
      text-align: center;
      padding: 20px 0; }
      .vehicle .vehicle__content .vehicle__nav ul {
        list-style: none;
        margin: 0; }
        .vehicle .vehicle__content .vehicle__nav ul li {
          display: inline; }
          .vehicle .vehicle__content .vehicle__nav ul li a {
            padding: 6px 25px;
            font-weight: bold;
            color: #06456a;
            border-right: 1px solid #646464;
            border-left: none;
            font-size: 1.4rem; }
            .vehicle .vehicle__content .vehicle__nav ul li a:hover {
              text-decoration: none;
              color: #2198dc; }
          .vehicle .vehicle__content .vehicle__nav ul li.active a {
            color: #2198dc;
            text-decoration: underline; }
    .vehicle .vehicle__content #vehical__list {
      background-color: #f6f6f6;
      padding: 50px;
      padding-bottom: 50px;
      max-height: 700px;
      margin-left: 12px;
      margin-right: 12px; }
      .vehicle .vehicle__content #vehical__list .vehicle__title h1 {
        position: relative;
        top: -2.7rem;
        background-color: #f6f6f6;
        color: #00324F;
        font-weight: bold;
        font-size: 2.4rem; }
        .vehicle .vehicle__content #vehical__list .vehicle__title h1 i {
          font-size: 1.2rem;
          position: relative;
          top: -5px; }
        .vehicle .vehicle__content #vehical__list .vehicle__title h1 span {
          font-weight: normal; }
      .vehicle .vehicle__content #vehical__list .vehical__product {
        color: #00324F;
        margin-bottom: 30px; }
        .vehicle .vehicle__content #vehical__list .vehical__product:hover .vehicle__img .img__hover {
          display: block; }
        .vehicle .vehicle__content #vehical__list .vehical__product:hover .vehicle__img .img__page {
          display: none; }
        .vehicle .vehicle__content #vehical__list .vehical__product .vehicle__img .img__hover {
          display: none; }
        .vehicle .vehicle__content #vehical__list .vehical__product .vehicle__img h2 {
          font-size: 1.8rem;
          font-weight: bold;
          margin-bottom: 5px; }
        .vehicle .vehicle__content #vehical__list .vehical__product .vehicle__img .vehicle__info {
          margin-bottom: 15px; }
          .vehicle .vehicle__content #vehical__list .vehical__product .vehicle__img .vehicle__info h3 {
            font-weight: normal;
            font-size: 2.4rem; }
          .vehicle .vehicle__content #vehical__list .vehical__product .vehicle__img .vehicle__info p {
            font-size: 1.4rem;
            margin-bottom: 5px; }
    .vehicle .vehicle__content #vehical__close {
      position: absolute;
      width: 60px;
      background-color: #f6f6f6;
      left: 89%;
      padding: 15px 0;
      text-align: center;
      border-radius: 0 7px 7px 0;
      color: #007cc3;
      cursor: pointer; }
      .vehicle .vehicle__content #vehical__close:hover {
        color: #00446a; }
        .vehicle .vehicle__content #vehical__close:hover .vehical__circle {
          border: 1px solid #00446a; }
      .vehicle .vehicle__content #vehical__close .vehical__circle {
        width: 25px;
        height: 25px;
        border: 1px solid #007cc3;
        line-height: 25px;
        border-radius: 50%;
        text-align: center;
        margin: auto; }
        .vehicle .vehicle__content #vehical__close .vehical__circle i {
          font-size: 1.4rem; }
      .vehicle .vehicle__content #vehical__close p {
        font-size: 1.4rem;
        font-weight: bold; }
    .vehicle .vehicle__content .vehicle__nav__col {
      padding: 0 27px; }

.hide__vehicle {
  display: none; }

footer {
  padding: 50px 5%;
  background-color: #f6f6f6;
  flex-wrap: wrap; }
  footer h1 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 35px;
    color: #00446a; }
  footer .footer__detail ul li {
    margin-bottom: 15px;
    font-size: 1.4rem;
    color: #2198dc; }
  footer .footer__touch {
    width: 100%;
    margin-top: 45px;
    border-top: 1px solid #646464;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    flex-wrap: wrap; }
    footer .footer__touch .touch__left i {
      width: 30px;
      height: 30px;
      background-color: #007cc3;
      border-radius: 50%;
      line-height: 30px;
      color: #fff;
      font-size: 1.4rem;
      text-align: center; }
    footer .footer__touch .touch__left h1 {
      margin-top: 45px; }
    footer .footer__touch .touch__right {
      text-align: right; }
      footer .footer__touch .touch__right p {
        font-size: 1.4rem;
        color: #00324F;
        margin: 45px 0 25px 0; }

.copy__right {
  background-color: #007cc3;
  padding: 0 5%;
  padding-top: 15px;
  padding-bottom: 15px; }
  .copy__right .copy__right__left p {
    font-size: 1.4rem;
    color: #f6f6f6; }
    .copy__right .copy__right__left p a {
      color: #f6f6f6;
      text-decoration: underline;
      font-style: italic; }
  .copy__right .copy__right__right ul {
    justify-content: flex-end; }
    .copy__right .copy__right__right ul li {
      padding: 0 15px;
      border-left: 1px solid #e5e5e5; }
      .copy__right .copy__right__right ul li a {
        font-size: 1.4rem;
        color: #f6f6f6; }
      .copy__right .copy__right__right ul li:first-child {
        border-left: 0; }
  .copy__right .footer__logo {
    margin-top: 45px; }
    .copy__right .footer__logo img {
      max-width: 50%;
      height: 40px; }

#search__area {
  background-color: #f6f6f6;
  padding: 15px 50px;
  position: relative; }
  #search__area::before {
    content: "";
    border-bottom: 15px solid white;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    position: absolute;
    top: -15px;
    left: unset;
    right: 2%;
    border-bottom: 15px solid #f6f6f6; }
  #search__area i {
    color: #2198dc;
    font-size: 1.8rem;
    transform: translateY(-3px); }
  #search__area input {
    width: 87%;
    height: 3.2rem;
    border: none;
    background-color: transparent;
    outline: none;
    font-weight: 300;
    font-size: 2.4rem;
    color: #2198dc; }
    #search__area input::placeholder {
      font-size: 2.4rem; }

.search__footer #search__area {
  background-color: #fff;
  padding: 0 50px; }
  .search__footer #search__area::before {
    display: none; }
  .search__footer #search__area div {
    padding: 15px 0;
    width: 85%;
    border-right: 1px solid #646464; }
    .search__footer #search__area div input {
      margin-left: 20px;
      width: 80%; }
  .search__footer #search__area .back__to__top {
    flex-grow: 1;
    font-size: 1.4rem;
    color: #2198dc;
    text-align: right;
    cursor: pointer; }

.discover__content {
  background-color: #f5f5f5;
  padding: 0 5.5%; }
  .discover__content .discover__title {
    text-align: center; }
    .discover__content .discover__title h1 {
      color: #00324F;
      font-weight: 300;
      font-size: 6rem;
      margin: 5px; }
    .discover__content .discover__title p {
      color: #00324F;
      font-weight: 300;
      font-size: 1.4rem; }
  .discover__content .discover__item {
    margin-top: 30px;
    height: 450px;
    position: relative;
    box-shadow: 0px 5px 10px 0 rgba(8, 29, 42, 0.08); }
    .discover__content .discover__item .discover__item__content {
      text-align: center;
      position: absolute;
      bottom: 10%;
      left: 0; }
      .discover__content .discover__item .discover__item__content .pd__col {
        padding: 6px; }
      .discover__content .discover__item .discover__item__content h2, .discover__content .discover__item .discover__item__content a {
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 15px;
        color: #00324F; }
      .discover__content .discover__item .discover__item__content p {
        font-size: 1.4rem;
        font-weight: 300;
        margin-bottom: 20px;
        color: #00324F;
        padding: 0 20px; }
      .discover__content .discover__item .discover__item__content a {
        color: #2198dc;
        font-size: 1.4rem; }
  .discover__content .discover__item__6 {
    background-color: #fff;
    color: #007cc3;
    position: relative; }
    .discover__content .discover__item__6 a {
      color: #2198dc; }
    .discover__content .discover__item__6 .fa-twitter {
      font-size: 4rem;
      position: absolute;
      top: 1rem;
      right: 1rem; }
    .discover__content .discover__item__6 .discover__item__twitter {
      position: absolute;
      top: 30%;
      left: 5%; }
      .discover__content .discover__item__6 .discover__item__twitter .discover__twitter__logo img {
        border-radius: 5px;
        margin-right: 20px;
        height: 55px; }
      .discover__content .discover__item__6 .discover__item__twitter .discover__twitter__logo p {
        font-size: 1.4rem; }
        .discover__content .discover__item__6 .discover__item__twitter .discover__twitter__logo p a:first-child {
          font-weight: bold; }
      .discover__content .discover__item__6 .discover__item__twitter p {
        font-size: 1.4rem;
        color: #00324F; }
      .discover__content .discover__item__6 .discover__item__twitter .discover__twitter__interaction {
        color: #2198dc; }
        .discover__content .discover__item__6 .discover__item__twitter .discover__twitter__interaction span {
          margin-right: 30px; }

.swiper__slider {
  height: 750px;
  margin-top: 65px;
  background-color: #00324F; }
  .swiper__slider .swiper-container {
    height: 500px; }
    .swiper__slider .swiper-container .swiper-wrapper {
      height: 94%; }
      .swiper__slider .swiper-container .swiper-wrapper .swiper-slide {
        height: 100%; }
    .swiper__slider .swiper-container .swiper__button__explore {
      text-align: center;
      width: 100%;
      position: absolute;
      bottom: 10%;
      z-index: 9; }
  .swiper__slider .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #007cc3; }
  .swiper__slider .swiper-button-next, .swiper__slider .swiper-button-prev {
    top: 45%;
    background-color: #ffffffe6;
    padding: 50px 30px;
    border-radius: 7px; }
  .swiper__slider .swiper-button-next {
    right: 0; }
  .swiper__slider .swiper-button-prev {
    left: 0; }

.intro {
  background-color: #f5f5f5; }
  .intro .intro__container {
    padding: 0 5%; }
    .intro .intro__container .intro__left, .intro .intro__container .intro__right {
      height: 430px;
      position: relative;
      background-size: cover;
      background-position: center;
      background-clip: content-box;
      margin-top: -200px; }
    .intro .intro__container .intro__left {
      background-color: #000;
      background-image: url("../img/our-vehicle-intro-1.jpg"); }
      .intro .intro__container .intro__left .intro__left__content {
        color: #fff;
        text-align: center;
        position: absolute;
        bottom: 10%;
        font-size: 1.8rem; }
        .intro .intro__container .intro__left .intro__left__content h4 {
          font-size: 1.8rem;
          font-weight: bold;
          margin-bottom: 15px; }
        .intro .intro__container .intro__left .intro__left__content p {
          font-weight: 300;
          margin: 15px;
          width: 92%;
          font-size: 18px; }
    .intro .intro__container .intro__right {
      font-size: 1.8rem;
      background-image: url("../img/our-vehicles-intro-2.jpg"); }
      .intro .intro__container .intro__right .intro__right__content {
        color: #fff;
        position: absolute;
        top: 30%;
        left: 8%;
        font-size: 1.8rem; }
        .intro .intro__container .intro__right .intro__right__content h4 {
          font-weight: bold;
          background-color: #06456a;
          display: inline-block;
          padding: 10px;
          margin-bottom: 15px; }
        .intro .intro__container .intro__right .intro__right__content p {
          width: 50%;
          font-weight: bold;
          margin-bottom: 30px; }

.our__vehicle {
  border: 1px solid transparent;
  background-color: #f5f5f5; }
  .our__vehicle .carousel {
    height: 700px; }
    .our__vehicle .carousel .carousel-inner,
    .our__vehicle .carousel .carousel-item {
      height: 96%; }
  .our__vehicle h1 {
    color: #00324F;
    font-size: 6rem;
    margin: 100px 0 45px 0; }
  .our__vehicle .carousel-control-next i,
  .our__vehicle .carousel-control-prev i {
    font-size: 4rem;
    background-color: rgba(0, 67, 108, 0.8);
    padding: 25px 20px;
    border-radius: 7px;
    cursor: pointer; }
  .our__vehicle .carousel__indicators__config {
    margin-bottom: 20px; }
    .our__vehicle .carousel__indicators__config li {
      color: #00324F;
      font-weight: bold;
      font-size: 1.4rem;
      padding: 6px 20px;
      display: flex;
      justify-content: center;
      cursor: pointer; }
      .our__vehicle .carousel__indicators__config li.active {
        color: #fff;
        background-color: #2198dc;
        border-radius: 20px;
        position: relative; }
        .our__vehicle .carousel__indicators__config li.active::before {
          content: "";
          border-top: 15px solid #fff;
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
          position: absolute;
          bottom: -35px;
          z-index: 9; }
  .our__vehicle .carousel__caption__config {
    width: 30%;
    position: absolute;
    top: 8%;
    left: 6%;
    color: #fff;
    font-size: 1.4rem; }
    .our__vehicle .carousel__caption__config p {
      font-weight: bold; }
      .our__vehicle .carousel__caption__config p span {
        font-weight: normal; }
    .our__vehicle .carousel__caption__config img {
      width: 60%;
      transform: translateX(-15px); }
    .our__vehicle .carousel__caption__config .caption__content {
      font-weight: 300;
      margin-bottom: 30px; }
    .our__vehicle .carousel__caption__config .carousel__caption__detail {
      display: flex;
      justify-content: space-between;
      margin-bottom: 45px; }
      .our__vehicle .carousel__caption__config .carousel__caption__detail .carousel__detail__content h2 {
        font-weight: 300;
        font-size: 4rem; }
      .our__vehicle .carousel__caption__config .carousel__caption__detail .carousel__detail__content p {
        font-size: 1.4rem;
        font-weight: bold; }
        .our__vehicle .carousel__caption__config .carousel__caption__detail .carousel__detail__content p span {
          color: #007cc3; }
  .our__vehicle .carousel__caption__footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid #646464;
    padding: 10px 0; }
    .our__vehicle .carousel__caption__footer a {
      font-size: 1.4rem;
      font-weight: bold;
      color: #fff; }
    .our__vehicle .carousel__caption__footer .d__fluid {
      max-width: 100%; }
  .our__vehicle .carousel__indicators__xs {
    width: 60%;
    margin: auto;
    background-color: #fff;
    border: 1px solid #a8a7a7; }
    .our__vehicle .carousel__indicators__xs .indicators__xs__header {
      padding: 0 15px; }
      .our__vehicle .carousel__indicators__xs .indicators__xs__header h1 {
        font-size: 1.2rem;
        margin: 10px 0;
        color: #007cc3;
        font-weight: 300;
        padding: 15px 0;
        margin-right: auto; }
        .our__vehicle .carousel__indicators__xs .indicators__xs__header h1 span {
          font-weight: bold;
          color: #00324F; }
      .our__vehicle .carousel__indicators__xs .indicators__xs__header i {
        font-size: 4rem;
        color: #007cc3;
        transition: all 0.5s;
        cursor: pointer; }
    .our__vehicle .carousel__indicators__xs ol {
      padding: 0;
      margin: 0;
      list-style: none;
      border-top: 1px solid #a8a7a7;
      display: none; }
      .our__vehicle .carousel__indicators__xs ol li {
        color: #00324F;
        font-weight: bold;
        font-size: 1.4rem;
        padding: 15px;
        cursor: pointer; }
  .our__vehicle .function__container {
    padding: 0 5.5%;
    margin: 100px 0; }
    .our__vehicle .function__container .pd__col {
      padding: 6px; }
      .our__vehicle .function__container .pd__col .function {
        text-align: center;
        height: 350px;
        box-shadow: 0px 5px 10px 0 rgba(8, 29, 42, 0.08);
        position: relative;
        cursor: pointer;
        transition: all 0.5s; }
        .our__vehicle .function__container .pd__col .function:hover {
          transform: translateY(-10%); }
          .our__vehicle .function__container .pd__col .function:hover .btn__go {
            background-color: transparent;
            color: #2198dc; }
        .our__vehicle .function__container .pd__col .function h3 {
          font-size: 1.8rem;
          font-weight: bold;
          margin-bottom: 20px;
          color: #00324F; }
        .our__vehicle .function__container .pd__col .function p {
          font-size: 1.4rem;
          font-weight: 300;
          margin-bottom: 30px;
          color: #00446a; }
        .our__vehicle .function__container .pd__col .function div {
          position: absolute;
          top: 40%;
          width: 100%;
          padding: 0 70px; }
  .our__vehicle .intro .intro__container .intro__left__1 {
    background-image: url("../img/intro-3.jpg");
    margin-top: 10px; }
  .our__vehicle .intro .intro__container .intro__right__1 {
    background-image: url("../img/intro-4.jpg");
    margin-top: 10px; }

@media screen and (max-width: 576px) {
  header #myNavbar a {
    padding: 6px 15px; }
    header #myNavbar a:first-child {
      padding: 6px 15px; }
  header #myNavbar #vehicle__link:hover {
    background-color: transparent;
    color: #fff; }
  header #myNavbar #navbar-menu {
    border-top: 1px solid #e5e5e5; }
    header #myNavbar #navbar-menu .discover__menu a {
      color: #2198dc;
      padding: 15px 0; }
    header #myNavbar #navbar-menu .discover__menu::before {
      content: "";
      border-bottom: 15px solid white;
      border-right: 15px solid transparent;
      border-left: 15px solid transparent;
      position: absolute;
      top: -15px;
      left: 7%;
      right: unset;
      top: 42px; }
    header #myNavbar #navbar-menu a {
      color: #fff;
      padding: 15px 25px; }
    header #myNavbar #navbar-menu:hover {
      background-color: transparent; }
  header #myNavbar #search__area__XS {
    background-color: #007cc3;
    padding: 6px 6px; }
    header #myNavbar #search__area__XS::before {
      border-bottom-width: 0; }
    header #myNavbar #search__area__XS i {
      color: #fff;
      font-size: 1.4rem;
      transform: translateY(-3px); }
    header #myNavbar #search__area__XS input {
      width: 60%;
      height: 2.5rem;
      border: 2px solid #fff;
      border-radius: 6px;
      padding-bottom: 6px;
      padding-left: 15px;
      font-size: 1.4rem;
      color: #fff; }
      header #myNavbar #search__area__XS input::placeholder {
        font-size: 1.4rem;
        color: #fff; }
  header .vehicle .vehicle__content .vehicle__nav ul li {
    display: inline-block;
    margin-bottom: 30px; }
    header .vehicle .vehicle__content .vehicle__nav ul li a {
      padding: 6px 15px;
      border: none; }
  header .vehicle .vehicle__content #vehical__list {
    background-color: #f6f6f6;
    padding: 50px;
    padding-bottom: 50px;
    max-height: 700px;
    margin-left: 12px;
    margin-right: 12px; }
    header .vehicle .vehicle__content #vehical__list .vehicle__title h1 {
      position: relative;
      top: -2.7rem;
      background-color: #f6f6f6;
      color: #00324F;
      font-weight: bold;
      font-size: 2.4rem; }
      header .vehicle .vehicle__content #vehical__list .vehicle__title h1 i {
        font-size: 1.2rem;
        position: relative;
        top: -5px; }
      header .vehicle .vehicle__content #vehical__list .vehicle__title h1 span {
        font-weight: normal; }
    header .vehicle .vehicle__content #vehical__list .vehical__product {
      color: #00324F;
      margin-bottom: 30px; }
      header .vehicle .vehicle__content #vehical__list .vehical__product:hover .vehicle__img .img__hover {
        display: block; }
      header .vehicle .vehicle__content #vehical__list .vehical__product:hover .vehicle__img .img__page {
        display: none; }
      header .vehicle .vehicle__content #vehical__list .vehical__product .vehicle__img .img__hover {
        display: none; }
      header .vehicle .vehicle__content #vehical__list .vehical__product .vehicle__img h2 {
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 5px; }
      header .vehicle .vehicle__content #vehical__list .vehical__product .vehicle__img .vehicle__info {
        margin-bottom: 15px; }
        header .vehicle .vehicle__content #vehical__list .vehical__product .vehicle__img .vehicle__info h3 {
          font-weight: normal;
          font-size: 2.4rem; }
        header .vehicle .vehicle__content #vehical__list .vehical__product .vehicle__img .vehicle__info p {
          font-size: 1.4rem;
          margin-bottom: 5px; }
  header .vehicle .vehicle__content #vehical__close {
    position: absolute;
    width: 60px;
    background-color: #f6f6f6;
    left: 94%;
    padding: 15px 0;
    text-align: center;
    border-radius: 0 7px 7px 0;
    color: #007cc3;
    cursor: pointer; }
    header .vehicle .vehicle__content #vehical__close:hover {
      color: #00446a; }
      header .vehicle .vehicle__content #vehical__close:hover .vehical__circle {
        border: 1px solid #00446a; }
    header .vehicle .vehicle__content #vehical__close .vehical__circle {
      width: 25px;
      height: 25px;
      border: 1px solid #007cc3;
      line-height: 25px;
      border-radius: 50%;
      text-align: center;
      margin: auto; }
      header .vehicle .vehicle__content #vehical__close .vehical__circle i {
        font-size: 1.4rem; }
    header .vehicle .vehicle__content #vehical__close p {
      font-size: 1.4rem;
      font-weight: bold; }
  header .vehicle .vehicle__content .vehicle__nav__col {
    padding: 0 27px; }

  .swiper__slider {
    margin-top: 62px; }

  .our__vehicle .carousel__caption__config {
    width: 90%;
    margin: auto;
    text-align: center;
    bottom: 10%;
    top: unset;
    font-size: 1.4rem -0.2; }
    .our__vehicle .carousel__caption__config .carousel__caption__detail .carousel__detail__content h2 {
      font-size: 1.8rem; }
    .our__vehicle .carousel__caption__config .carousel__caption__detail .carousel__detail__content p {
      font-size: 1.4rem; }
  .our__vehicle .carousel__caption__footer {
    border: none;
    justify-content: center;
    width: 100%;
    bottom: 1%; }
  .our__vehicle .carousel-control-next {
    right: 17px; }
    .our__vehicle .carousel-control-next i {
      font-size: 1.8rem;
      padding: 25px 20px; }
  .our__vehicle .carousel-control-prev {
    left: 10px; }
    .our__vehicle .carousel-control-prev i {
      font-size: 1.8rem;
      padding: 25px 20px; }
  .our__vehicle .carousel__indicators__xs {
    position: absolute;
    top: 0;
    left: 20%;
    z-index: 5; }
  .our__vehicle .carousel-inner {
    top: 60px; }
  .our__vehicle h1 {
    font-size: 4rem; }

  .intro .intro__container .intro__right {
    margin-top: 30px; }

  .transform__rotate {
    transform: rotate(180deg); }

  .search__footer #search__area {
    border: none;
    padding: 0;
    flex-wrap: wrap; }
    .search__footer #search__area::before {
      display: none; }
    .search__footer #search__area div {
      padding: 15px;
      width: 100%;
      border: none;
      border-right: none; }
      .search__footer #search__area div input {
        font-size: 1.4rem;
        width: 57% !important; }
        .search__footer #search__area div input::placeholder {
          font-size: 1.8rem; }
      .search__footer #search__area div i {
        font-size: 1.4rem; }
    .search__footer #search__area .back__to__top {
      padding: 15px;
      text-align: center; }

  footer {
    padding: 0;
    background-color: #fff; }
    footer .footer__detail {
      width: 100%; }
      footer .footer__detail h1 {
        background-color: #f6f6f6;
        padding: 20px 15px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px; }
        footer .footer__detail h1 i {
          width: 30px;
          height: 30px;
          background-color: #007cc3;
          border-radius: 50%;
          line-height: 30px;
          color: #fff;
          font-size: 1.4rem;
          text-align: center;
          color: #2198dc;
          background-color: transparent;
          cursor: pointer; }
      footer .footer__detail .collapse__ul ul {
        padding-left: 20px; }
    footer .footer__touch .touch__left,
    footer .footer__touch .touch__right {
      width: 100%;
      text-align: left; }

  .copy__right .copy__right__left p {
    font-size: 1.2rem; }
  .copy__right .copy__right__right ul {
    justify-content: flex-start; }
    .copy__right .copy__right__right ul li {
      padding: 0 6px; }
      .copy__right .copy__right__right ul li a {
        font-size: 1.2rem;
        color: #f6f6f6; }
      .copy__right .copy__right__right ul li:first-child {
        padding: 0 6px; }
  .copy__right .footer__logo {
    justify-content: center !important; }
    .copy__right .footer__logo img {
      height: 70px;
      display: none; }
      .copy__right .footer__logo img:first-child {
        display: block; } }
@media screen and (max-width: 768px) {
  #myNavbar a {
    padding: 6px 15px; } }
  @media screen and (max-width: 768px) and (max-width: 576px) {
    #myNavbar a:first-child {
      padding: 6px 15px; } }
@media screen and (max-width: 768px) {
  #myNavbar #vehicle__link:hover {
    background-color: transparent;
    color: #fff; }
  #myNavbar #navbar-menu {
    border-top: 1px solid #e5e5e5; }
    #myNavbar #navbar-menu .discover__menu a {
      color: #2198dc;
      padding: 15px 0; }
    #myNavbar #navbar-menu .discover__menu::before {
      content: "";
      border-bottom: 15px solid white;
      border-right: 15px solid transparent;
      border-left: 15px solid transparent;
      position: absolute;
      top: -15px;
      left: 7%;
      right: unset;
      top: 42px; }
    #myNavbar #navbar-menu a {
      color: #fff;
      padding: 15px 25px; }
    #myNavbar #navbar-menu:hover {
      background-color: transparent;
      color: #2198dc; }
  #myNavbar #search__area__XS {
    background-color: #007cc3;
    padding: 6px 6px; }
    #myNavbar #search__area__XS::before {
      border-bottom-width: 0; }
    #myNavbar #search__area__XS i {
      color: #fff;
      font-size: 1.4rem;
      transform: translateY(-3px); }
    #myNavbar #search__area__XS input {
      width: 60%;
      height: 2.5rem;
      border: 2px solid #fff;
      border-radius: 6px;
      padding-bottom: 6px;
      padding-left: 15px;
      font-size: 1.4rem;
      color: #fff; }
      #myNavbar #search__area__XS input::placeholder {
        font-size: 1.4rem;
        color: #fff; }

  .swiper__slider {
    margin-top: 62px; }

  .our__vehicle .carousel__caption__config {
    width: 90%;
    margin: auto;
    text-align: center;
    bottom: 10%;
    top: unset;
    font-size: 1.4rem -0.2; }
    .our__vehicle .carousel__caption__config .carousel__caption__detail .carousel__detail__content h2 {
      font-size: 1.8rem; }
    .our__vehicle .carousel__caption__config .carousel__caption__detail .carousel__detail__content p {
      font-size: 1.4rem; }
  .our__vehicle .carousel__caption__footer {
    border: none;
    justify-content: center;
    width: 100%;
    bottom: 1%; }
  .our__vehicle .carousel-control-next {
    right: 5px; }
    .our__vehicle .carousel-control-next i {
      font-size: 1.8rem;
      padding: 25px 20px; }
  .our__vehicle .carousel-control-prev {
    left: 5px; }
    .our__vehicle .carousel-control-prev i {
      font-size: 1.8rem;
      padding: 25px 20px; }
  .our__vehicle .carousel__indicators__xs {
    position: absolute;
    top: 0;
    left: 20%;
    z-index: 5; }
  .our__vehicle .carousel-inner {
    top: 60px; }
  .our__vehicle h1 {
    font-size: 4rem; }
  .our__vehicle .function__container .pd__col .function div {
    padding: unset; }

  .intro .intro__container .intro__right {
    margin-top: 30px; }

  .search__footer #search__area {
    border: none;
    padding: 0;
    flex-wrap: wrap; }
    .search__footer #search__area::before {
      display: none; }
    .search__footer #search__area div {
      padding: 15px;
      width: 100%;
      border: none;
      border-right: none; }
      .search__footer #search__area div input {
        font-size: 1.4rem;
        width: 65%; }
        .search__footer #search__area div input::placeholder {
          font-size: 1.8rem; }
      .search__footer #search__area div i {
        font-size: 1.4rem; }
    .search__footer #search__area .back__to__top {
      padding: 15px;
      text-align: center; }

  footer {
    padding: 0;
    background-color: #fff; }
    footer .footer__detail {
      width: 100%; }
      footer .footer__detail h1 {
        background-color: #f6f6f6;
        padding: 20px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        font-size: 1.4rem; }
        footer .footer__detail h1 i {
          width: 30px;
          height: 30px;
          background-color: #007cc3;
          border-radius: 50%;
          line-height: 30px;
          color: #fff;
          font-size: 1.4rem;
          text-align: center;
          color: #2198dc;
          background-color: transparent;
          cursor: pointer; }
      footer .footer__detail .collapse__ul ul {
        padding-left: 15px; }
    footer .footer__touch .touch__left, footer .footer__touch .touch__right {
      width: 100%;
      text-align: left; }

  .copy__right .copy__right__left p {
    font-size: 1.2rem; }
  .copy__right .copy__right__right ul {
    justify-content: flex-start; }
    .copy__right .copy__right__right ul li {
      padding: 0 6px; }
      .copy__right .copy__right__right ul li a {
        font-size: 1.2rem;
        color: #f6f6f6; }
      .copy__right .copy__right__right ul li:first-child {
        padding-left: 0; }
  .copy__right .footer__logo {
    justify-content: center !important; }
    .copy__right .footer__logo img {
      height: 70px;
      display: none; }
      .copy__right .footer__logo img:first-child {
        display: block; } }
@media screen and (min-width: 769px) and (max-width: 992px) {
  header #myNavbar a {
    padding: 15px 15px; }
  header #myNavbar #navbar-menu {
    border-top: 1px solid #e5e5e5; }
    header #myNavbar #navbar-menu .discover__menu a {
      color: #2198dc;
      padding: 15px 0; }
    header #myNavbar #navbar-menu .discover__menu::before {
      content: "";
      border-bottom: 15px solid white;
      border-right: 15px solid transparent;
      border-left: 15px solid transparent;
      position: absolute;
      top: -15px;
      left: 7%;
      right: unset;
      top: 42px; }
    header #myNavbar #navbar-menu a {
      color: #fff;
      padding: 15px 25px; }
    header #myNavbar #navbar-menu:hover {
      background-color: transparent; }
  header #search__area {
    padding: 15px; }
    header #search__area input {
      width: 71%; }
  header #vehicles #vehical__close {
    left: 88%; }

  .swiper__slider {
    margin-top: 55px; }
    .swiper__slider .swiper-container {
      height: 400px; }
      .swiper__slider .swiper-container .swiper-wrapper {
        height: 91%; }
      .swiper__slider .swiper-container .swiper__button__explore {
        bottom: 13%; }

  .our__vehicle .carousel__indicators__config {
    width: 100% !important; }
  .our__vehicle .carousel__caption__config {
    width: 35%;
    margin: auto;
    left: 7%;
    text-align: left;
    bottom: unset;
    top: 10%;
    font-size: 1.4rem -0.2; }
    .our__vehicle .carousel__caption__config .carousel__caption__detail .carousel__detail__content h2 {
      font-size: 1.8rem; }
    .our__vehicle .carousel__caption__config .carousel__caption__detail .carousel__detail__content p {
      font-size: 1.4rem; }
  .our__vehicle .carousel__caption__footer {
    height: 100%;
    border: none;
    justify-content: center;
    width: 50%;
    bottom: -31%; }
  .our__vehicle .carousel-control-next {
    right: 5px; }
    .our__vehicle .carousel-control-next i {
      font-size: 1.8rem;
      padding: 25px 20px; }
  .our__vehicle .carousel-control-prev {
    left: 5px; }
    .our__vehicle .carousel-control-prev i {
      font-size: 1.8rem;
      padding: 25px 20px; }
  .our__vehicle .carousel__indicators__xs {
    position: absolute;
    top: 0;
    left: 20%;
    z-index: 5; }
  .our__vehicle h1 {
    font-size: 4rem; }
  .our__vehicle .function__container .pd__col .function h3 {
    font-size: 1.5rem; }
  .our__vehicle .function__container .pd__col .function div {
    padding: unset; }

  .search__footer {
    padding: 0 15px; }
    .search__footer #search__area {
      border: none;
      padding: 0;
      flex-wrap: wrap; }
      .search__footer #search__area::before {
        display: none; }
      .search__footer #search__area div {
        width: 75%;
        border: none;
        border-right: none; }
        .search__footer #search__area div input {
          font-size: 1.4rem;
          width: 65%; }
          .search__footer #search__area div input::placeholder {
            font-size: 1.8rem; }
        .search__footer #search__area div i {
          font-size: 1.4rem; }
        .search__footer #search__area div .btn__search__footer {
          margin-top: 0; }
      .search__footer #search__area .back__to__top {
        text-align: center; }

  footer {
    padding: 50px 5%;
    background-color: #f6f6f6;
    flex-wrap: wrap; }
    footer h1 {
      font-size: 1.8rem;
      font-weight: bold;
      margin-bottom: 35px;
      color: #00446a; }
    footer .footer__detail {
      width: 25%; }
      footer .footer__detail ul li {
        margin-bottom: 15px;
        font-size: 1.4rem;
        color: #2198dc; }

  .copy__right .copy__right__left p {
    font-size: 1.2rem; }
  .copy__right .copy__right__right ul {
    justify-content: flex-end; }
    .copy__right .copy__right__right ul li {
      padding: 0 6px; }
      .copy__right .copy__right__right ul li a {
        color: #f6f6f6; }
      .copy__right .copy__right__right ul li:first-child {
        padding: 0; }
  .copy__right .footer__logo img {
    max-width: 50%;
    height: 30px; } }
@media screen and (min-width: 993px) and (max-width: 1200px) {
  header #search__area {
    padding: 15px; }
    header #search__area input {
      width: 78%; }
  header #vehicles #vehical__close {
    left: 88%; }

  .swiper__slider {
    margin-top: 55px; }

  .our__vehicle .carousel__caption__config {
    width: 35%; }
  .our__vehicle .carousel__detail__content:last-child {
    max-width: 40%; }
  .our__vehicle .function__container .pd__col .function div {
    padding: unset; }

  .search__footer {
    padding: 0 15px; }
    .search__footer #search__area div {
      width: 80%;
      border: none;
      border-right: none; }
      .search__footer #search__area div input {
        font-size: 1.4rem;
        width: 75%; }
        .search__footer #search__area div input::placeholder {
          font-size: 1.8rem; }
      .search__footer #search__area div .btn__search__footer {
        margin-top: 0; }

  .copy__right .copy__right__right ul li {
    padding: 0 11px; } }
@media screen and (min-width: 1201px) {
  #search__area input {
    width: 81%; }

  .our__vehicle .function__container .pd__col .function div {
    padding: unset; }

  .search__footer {
    padding: 0 15px; }
    .search__footer #search__area div {
      width: 85%;
      border: none;
      border-right: none; }
      .search__footer #search__area div input {
        font-size: 1.4rem;
        width: 80%; }
        .search__footer #search__area div input::placeholder {
          font-size: 1.8rem; }
      .search__footer #search__area div .btn__search__footer {
        margin-top: 0; } }

/*# sourceMappingURL=main.css.map */
