// Color
$color-white: #fff;
$color-white-2: #ffffffe6;
$color-blue-1: #007cc3;
$color-blue-2: #2198dc;
$color-blue-3: #06456a;  
$color-blue-4: #1da1f2;  
$color-blue-5: #06456a;
$color-dark-blue-1: #00446a;
$color-dark-blue-2: #00324F;
$color-red-1: #ff4040;
$color-black: #000;
$bg-blue: rgba(0,67,108,.8);
$bg-gray: #f6f6f6;
$bg-gray-2: #babcbf;
$bg-gray-3: #f5f5f5;


// Font-Size
$fs-html: 16px;
$fs-1: 1.4rem;
$fs-2: 1.8rem;
$fs-3: 6rem;
$fs-4: 2.4rem;
$fs-5: 18px;
$fs-6: 4rem;

// Font-Weight
$fw-bold: bold;
$fw-normal: normal;
$fw-300: 300;

// Padding
$pd-1: 6px;
$pd-2: 15px;
$pd-3: 20px;
$pd-4: 25px;
$pd-5: 30px;
$pd-6: 50px;
$pd-7: 10%;
$pd-8: 15%;


// Margin
$mg-up-1: -5px;
$mg-up-2: -2.7rem;
$mg-up: -200px;
$mg-1: 20px;
$mg-2: 30px;
$mg-3: 45px;
$mg-4: 60px;
$mg-5: 100px;
$mg-6: 5px;


// Border
$border-1: 1px solid #4f91ca;
$border-2: 1px solid #646464;
$border-3: 1px solid #e5e5e5;
$boder-4: 15px solid $color-white;
$border-5: 1px solid #a8a7a7;


// Size
$vehical-close-width: 60px;
$vehical-circle-size: 25px;

// Shadow
$box-shadow-1:  1px 20px 70px -10px rgba(59,59,59,.63);
$box-shadow-2:  0px 5px 10px 0 rgba(8,29,42,.08)